# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates

# Build artifacts
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
*.snupkg
*.cache
*.assets.cache
project.assets.json
project.nuget.cache
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets

# Rider
.idea/

# Other
git-installer.exe
schemes_debug.json
